openapi: "3.0.3"
info:
  title: Solat API Malaysia
  x-logo:
    url: https://fajarhac.com/static/7035a9f0c12ca862b0565dd65b0443a7/67a33/site-logo.png
    altText: Solat API Malaysia logo
  description: |
    Solat API Malaysia, mengambil data waktu solat untuk lokasi-lokasi di Malaysia melalui laman web JAKIM.

    Data yang diambil dari laman web JAKIM akan dimasukkan di dalam databes kami sendiri, untuk tujuan kestabilan API.

    API ini dilepaskan kepada umum secara percuma, **tanpa sebarang janji dan waranti**. Tuan puan boleh menggunakan API ini sebagaimana disediakan.

    ## Kualiti dan kesahihan data

    Tarikh terakhir data dikaut dari laman web JAKIM (e-solat) ialah **04hb Januari 2023**.

    Walaubagaimanapun, untuk menjamin kesahihan data, Solat API Malaysia pada setiap hari akan menyemak waktu solat untuk 10 zon secara rawak. Kemudian membandingkan data tersebut dengan data dalam Solat API Malaysia.

    Sekiranya, ada perbezaan, satu isu baru akan dibuat di github.

  version: "1.1.12"
  contact:
    name: Fakhrullah Padzil (Github)
    url: https://github.com/fakhrullah/solatapi
    x-twitter: https://twitter.com/fajarhac
servers:
  - url: https://solatapi.fajarhac.com
  - url: http://localhost:4000

components:
  schemas:
    zone:
      $ref: "./schemas/zone.json"
    state:
      $ref: "./schemas/state.yml"
    location:
      $ref: "./schemas/location.yml"
    zone_detail:
      $ref: "./schemas/zone-detail.yml"
    zones:
      type: array
      description: List of zones
      items:
        $ref: "#/components/schemas/zone_detail"
      example:
        - zone: jhr01
          state: johor
          locations:
            - pulau aur
            - pemanggil
        - zone: wly02
          state: labuan
          locations:
            - labuan
    prayer_time:
      $ref: "./schemas/prayer-time.json"
    prayer_times:
      type: array
      description: List of daily prayer times
      items:
        $ref: "#/components/schemas/prayer_time"

tags:
  - name: times
    description: Waktu solat
  - name: zones
    description: Zon, Negeri, Wilayah dan Lokasi

paths:
  /times:
    get:
      tags:
        - "times"
      description: Get Solat Time
      parameters:
        - name: zone
          description: >
            Zone code for solat zone. Refer: [Zones Docs](/zones)
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/zone"
        - name: from
          in: query
          required: true
          description: Date in format dd-MM-YYYY. For example 01112021 for 4th November 2021
          schema:
            type: string
            example: "04-11-2021"
            description: Date in format dd-MM-YYYY. For example 04-11-2021 for 4th November 2021
        - name: to
          in: query
          required: false
          schema:
            type: string
            example: "06-11-2021"
            description: Date in format dd-MM-YYYY. For example 06-11-2021 for 6th November 2021
        - name: format
          in: query
          required: false
          schema:
            $ref: ./schemas/output-format.json
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  zone_detail:
                    $ref: "#/components/schemas/zone_detail"
                  prayer_times:
                    $ref: "#/components/schemas/prayer_times"

  /today/{zone}:
    get:
      tags:
        - "times"
      description: Get Solat Time for today
      parameters:
        - name: zone
          description: >
            Zone code for solat zone. Refer: [Zones Docs](/zones)
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/zone"
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum:
              - 12-hour # default
              - 24-hour
              - timestamp
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  zone_detail:
                    $ref: "#/components/schemas/zone_detail"
                  prayer_times:
                    $ref: "#/components/schemas/prayer_times"

  /tomorrow/{zone}:
    get:
      tags:
        - "times"
      description: Get Solat Time for for tomorrow
      parameters:
        - name: zone
          description: >
            Zone code for solat zone. Refer: [Zones Docs](/zones)
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/zone"
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum:
              - 12-hour # default
              - 24-hour
              - timestamp
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  zone_detail:
                    $ref: "#/components/schemas/zone_detail"
                  prayer_times:
                    $ref: "#/components/schemas/prayer_times"

  /yesterday/{zone}:
    get:
      tags:
        - "times"
      description: Get Solat Time for for yesterday
      parameters:
        - name: zone
          description: >
            Zone code for solat zone. Refer: [Zones Docs](/zones)
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/zone"
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum:
              - 12-hour # default
              - 24-hour
              - timestamp
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  zone_detail:
                    $ref: "#/components/schemas/zone_detail"
                  prayer_times:
                    $ref: "#/components/schemas/prayer_times"

  /zones:
    get:
      tags:
        - "zones"
      description: List of zones
      responses:
        "200":
          description: >
            Show all list of zones.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/zones"
  /zones/{zone}:
    get:
      tags:
        - "zones"
      description: Get detail of zone
      parameters:
        - name: zone
          required: true
          in: path
          description: The code of zone
          schema:
            $ref: "#/components/schemas/zone"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/zone_detail"

  /info:
    get:
      tags:
        - info
      description: About SolatAPI Malaysia
      responses:
        "200":
          description: OK

  /:
    get:
      tags:
        - info
      description: About SolatAPI Malaysia
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string

  /health:
    get:
      tags:
        - info
      description: About SolatAPI Malaysia
      responses:
        "200":
          description: Site is running properly
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: OK
